body {
    margin: auto;
    text-align: center;
}

.kutu {
    background-color: gray;
    margin: 150px 150px 150px 150px;
}

.paragraf4 {
    width: 194px;
    height: 37px;
    size: 30px;
    float: left;
    
}

